<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="SMSEntities" connectionString="metadata=res://*/Model.DB.csdl|res://*/Model.DB.ssdl|res://*/Model.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db_SMS;user id=sa;password=123.abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ExpressManageEntities" connectionString="metadata=res://*/Model.ExpressManageDB.csdl|res://*/Model.ExpressManageDB.ssdl|res://*/Model.ExpressManageDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ExpressManage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <!--RealAppContext - Real Container-->
    <!--FakeAppContext - Fake Container-->
    <!--<add key="defaultIoCContainer" value="RealAppContext" />-->
    <add key="defaultIoCContainer" value="RealAppContext" />

  </appSettings>
</configuration>